

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}


.white-text-color{
  color: #FFFFFF;
  font-size: 1rem;
}

.Linear-color{

  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

.display-flex{
  display: flex;
}


.gradient-text {
  background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    
  background-clip: text;
  color: transparent;
}




.navbar{ border-bottom: 1px solid red;
  background-color: #1A0B2E;
  padding: 24px 200px;

}

nav{
  color: #FFFFFF;
  background-color: #1A0B2E;
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  
  
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
nav>h1{
  font-weight: bold;
  font-size: 2rem;
  color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
.menu{
  gap: 30px;
  display: flex;
}
.bar{
  display: none;
}

.menu>a{
  opacity: 90%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;

}
.btn{
font-size: 1rem;
font-weight: 600;
color: #FFFFFF;

padding: 12.5px 16px;
border: none;

border-radius:10000px;
}

.banner{
  background-image: url(../assets/hero-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  align-items: center;
  background-position: center ;
  background-size: cover;

}

.banner-container{

  padding-top: 100px;
  padding-bottom: 100px ;
  margin: 0 auto;

}

.hero{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  
}
.hero-circle img{
  width: 100%;
  
  
}

.circle-mic {
  position: absolute;
 
  top: 90px;  
  left: 120px;
  
  
}
.badge-new{
  padding: 8px 16px;
  position: absolute;
  background-color: #00FF88;
  border-radius: 50px;
 color: #1A0B2E;
 font-weight: 600;
 font-size: 1.12rem;
  top: 3px;
  right: 40px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);;
  
}


.hero-text-container h2{
  margin-top: 40px;
font-size: 3.75rem;
font-weight: 800;
}
.hero-text-container p{
opacity: 80%;
font-weight: 400;

}
.hero-btn{
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 24px;
  
}

.transparent-btn{

  align-items: center;
  font-weight: 600;
  color: #00FF88;
  padding: 12.5px 20px;
  background-color: transparent;
  border-radius: 10000px;
  border:1px solid #00FF88;
  cursor: pointer;
  gap: 8px;
}
.btn-2nd{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 12.5px 16px;
  border: none;
  border-radius:10000px;
}
.btn img{
gap: 8px;
}
.transparent-btn img{
 
 width: 100%;
 
  

}





/* Responsive media query */
@media screen and (max-width:576px){

.menu ,.btn{
  display: none;
}
.bar {
  display:inline;
}

.navbar{
  padding: 18px;
}


.banner-container{

  padding-top: 40px ;
  margin: 0 auto;
   padding-bottom: 40px ;

}
.hero{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  
}
.circle-mic {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50px;  
  left: 70px;
  
  
}
.circle-mic img{
 width: 80%;
  
}

.badge-new{
  
  position: absolute;
  
  top: 3px;
  right: -6px;
  
}



}


