

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



.inter- {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;}


/* shared style */

.title{
color: #FFFFFF;
font-size: 3rem;
font-weight: 700;
text-align:center ;
}

.card-titel {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 700;

}
.card-description, .copyright{
  color: #FFFFFF;
font-size: 1rem;
font-weight: 400;
opacity: 60%;
line-height: 24px;
}


.white-text-color{
  color: #FFFFFF;
  font-size: 1rem;
}

.Linear-color{

  background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}

.display-flex{
  display: flex;
}


.gradient-text {
  background-image: linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    
  background-clip: text;
  color: transparent;
}

.band{
 color: #FFFFFF;
}
main{
  background-color: rgba(26, 11, 46, 1);
}
/* navbar style */
.navbar{ border-bottom: 1px solid rgba(65, 37, 103, 1);
  background-color: #1A0B2E;
  padding: 24px 200px;

}

nav{
  color: #FFFFFF;
  background-color: #1A0B2E;
  display: flex;
  margin: 0 auto;
  max-width: 1600px;
  
  
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
nav>h1{
  font-weight: 700;
  font-size: 2.5rem;
  color: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));;
}
.menu{
  gap: 30px;
  display: flex;
}
.bar{
  display: none;
   cursor: pointer;
}

.menu>a{
  opacity: 90%;
  text-decoration: none;
  font-weight: 500;
  text-align: center;

}
.btn{
font-size: 1rem;
font-weight: 600;
color: #FFFFFF;

padding: 12.5px 16px;
border: none;
 cursor: pointer;
border-radius:10000px;
}

.banner{
  background-image: url(../assets/hero-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  align-items: center;
  background-position: center ;
  background-size: cover;

}

.banner-container{

  padding-top: 100px;
  padding-bottom: 100px ;
  margin: 0 auto;

}

.hero{
  position: relative;
  width: 350px;
  height: 350px;
  margin: 0 auto;
  
}
.hero-circle img{
  width: 100%;
  
  
}

.circle-mic {
  position: absolute;
 
  top: 90px;  
  left: 120px;
  
  
}
.badge-new{
  padding: 8px 16px;
  position: absolute;
  background-color: #00FF88;
  border-radius: 50px;
 color: #1A0B2E;
 font-weight: 600;
 font-size: 1.12rem;
  top: 3px;
  right: 40px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);;
  
}


.hero-text-container h2{
  margin-top: 40px;
font-size: 3.75rem;
font-weight: 800;
}
.hero-text-container p{
opacity: 80%;
font-weight: 400;

}
.hero-btn{
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  margin-top: 24px;
  
}

.transparent-btn{

  align-items: center;
  font-weight: 600;
  color: #00FF88;
  padding: 12.5px 20px;
  background-color: transparent;
  border-radius: 10000px;
  border:1px solid #00FF88;
  cursor: pointer;
  gap: 8px;
}
.btn-2nd{
  font-size: 1rem;
  font-weight: 600;
  color: #FFFFFF;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 12.5px 16px;
  border: none;
  border-radius:10000px;
}

.transparent-btn img{
 width: 100%;
}

/* About Section */

.About-Section{
  /* background-color: rgba(26, 11, 46, 1); */
  text-align: center;
  padding: 0 200px;
 
  
}

.About{

  /* max-width: 1200 px; */
  margin:  0 auto;
  /* border: 1px solid red; */
  
  
}
.about-description {
  font-weight: 400;
  
  opacity: 80%;
  line-height: 28px;

}
.about-sub{
  margin-top: 25px;
}

.About hr{
  margin-top: 80px;
  border-color: rgba(255, 255, 255, 1);
  opacity: 10%;
}
.About-card-container{
 max-width: 1200px;
  display: grid;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 120px;
  /* border: 1px solid red; */
  justify-content: space-between;

  grid-template-columns: repeat(4, 1fr);
  
}

.About-card h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: 900;
}

.About-card p{
  font-weight: 400;
  color: #FFFFFF;

  opacity: 80%;
  
}


/* Why Choose TechWave */

.Choose-TechWave{
  background-color: #230E3D;
  padding: 120px 200px;

}

.grid-box-container{
 max-width: 1600px;
 
 margin: 0 auto;
 display: grid;
 gap: 30px;  
 margin-top: 40px;
 /* margin-bottom: 120px; */
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(3, 273px) ;
 justify-content: center;
 border-radius: 40px;
 }

.box{
   /* border: 1px solid red; */
   border-radius: 40px;
   background-color:  rgba(53, 17, 101, 0.4);;

}

.Premium{
  grid-row: span 2;
  padding: 107.5px 40px 20px ;
 
  
  

 
}
.Mobile, .Global, .Exclusive{
  grid-column: span 2;
   padding: 40px 40px ;
}
.Rich{

  padding: 40px 40px ;
}
.box h3{
  margin-top: 16px;
  margin-bottom: 16px;

}

/* Featured Episodes Section */
.Featured-Section{
  padding: 120px 200px ;
  margin: 0 auto;
}

.Featured-card{
  /* max-width: 1200px; */

  margin: 40px  auto 120px;
  gap: 30px;
  justify-content: center;
  align-items: center;
  

}
.video-card{
 /* border: 1px solid red; */
 width: 380px;
 border-radius: 24px;
 background-color: #250D44;
}
.video-text{
  padding: 24px;
}
iframe{
  border-radius: 24px 24px 0 0px;
  width: 100%;

}
.video-text p{
  margin-top:12px ;
  margin-bottom: 12px;
}
.time{
  gap: 6px;
  justify-content: start;
  align-items: center;
  color: #00FF88;
  font-size: 1rem;
  font-weight: 600;
}

.the-host{
  justify-content: center;
  border-radius: 40px;
  margin: 0 auto ;
  margin-top: 40px;
  padding: 40px;
  gap: 24px;
  background-color: rgba(53, 17, 101, 0.4);
}
.host-text h3{
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.social-icon{
  justify-content: start;
  align-items: center;
  gap: 8px;
 
  
}
.icon{
   border: 1px solid #533C72; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  
  margin-top: 16px; 
  padding:10px;
}

.icon img{
 
  width: 100%;
  
}


footer{
  background-image: url(../assets/footer-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  align-items: center;
  background-position: center ;
  background-size: cover;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 120px;
}
footer h1{
  font-weight: 800;
  font-size: 5rem;
  
  
}

.footer-social{
 
  display: grid;
  grid-template-columns: repeat(4, auto) ;
  justify-content: center;
  align-items: center;
  gap: 40px;
  
  
}
.footer-social p{
   gap: 8px;
   justify-content: center;
   align-items: center;
   font-weight: 500;
   /* width: 152px; */
}

.footer-social a{
  /* width: 152px;
   */
}
.copyright{
  margin-top: 32px;
  
}






/* Responsive media query */
@media screen and (max-width:576px){

.title{
  font-size: 2rem;

}


.menu ,.btn{
  display: none;
}
.bar {
  display:inline;
  font-size: 1.25rem ;
}

.navbar{
  padding: 18px 20px;
  font-size: 2rem;
}
.navbar h1{
font-size: 2rem;
}
.banner{
  background-image: url(../assets/sm-bg-Image.png);
    width: 100%;
  background-repeat: no-repeat;
  
  background-size: cover;
}

.banner-container {

  margin: 0 auto;
   padding: 40px 20px ;

}
.hero{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  
}
.circle-mic {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50px;  
  left: 70px;
  
  
}
.circle-mic img{
 width: 80%;
  
}

.badge-new{
  
  position: absolute;
  
  top: 3px;
  right: -6px;
  
}
.hero-text-container h2 {
  margin-top: 24px;
font-size: 2.5rem;}

.hero-btn {
  flex-wrap: wrap;
}


/* About Section */
.About-Section{

  padding:  40px 20px;
  padding-bottom: 0px;
}

.about-description br{
  display: none;

}
.About h2, .About-card h2{
  font-size: 2rem;

}
.About-card-container{

  margin-top: 40px;
  margin-bottom: 40px;
  /* border: 1px solid red; */
  gap: 40px;
justify-content: center;
text-align: center;
  grid-template-columns: repeat(2, auto);
  row-gap: 40px ;
 
}

.About-card h2{
font-size: 2.5rem;
}
.About hr{
  margin-top: 40px;
  
}

/* Why Choose TechWave */

.Choose-TechWave{
  padding: 40px 20px;
  
}
.grid-box-container{
 gap: 16px;  
 grid-template-columns: repeat(1,1fr);
 grid-template-rows: repeat(1, auto) ;
 
 }

 .Premium{
  grid-row: span 1;
  padding: 24px;
 
}
.Mobile, .Global, .Exclusive{
  grid-column: span 1;
   padding: 24px ;
}
.box{
  border-radius: 24px;
}


/* <!-- Featured Episodes Section --> */

.Featured-Section{
  padding: 40px 20px ;
  margin: 0 auto;
}

.Featured-card{
  margin: 24px  auto 60px;
  gap: 16px;
  flex-direction: column;
}
.video-card{

 width: 100%;

}

iframe{
  width: 100%;
}
.video-text{
  padding: 16px;
}

/* Meet the Host */

.the-host{
  
  border-radius: 24px;
  margin: 0 auto ;
  margin-top: 40px;
  padding: 24px;
 
  gap: 16px;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.the-host img{
  width: 150px;
  
}
.social-icon{
  justify-content: center;
}


footer{
  background-image: url(../assets/footer-sm-bg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  
  padding: 40px 20px;
}
footer h1{
  
  font-size: 3rem;
  
}

.footer-social{
  
  grid-template-columns: repeat(2, auto); 
  justify-content: center;
  
  align-items: center;
  gap: 16px;
  
  
}










  
}



















/* @media screen and (min-width:576px) and (max-width:992px) */

